@import "variables.modules";
@import "mixins.scss";
@import "./components/NavBar.scss";
@import "./tasks/tasksPage.scss";
@import "./components/Buttons.scss";
@import "./components/Inputs.scss";
@import "./components/ActionItems.scss";
@import "./components/TaskItem.scss";
@import "Login.scss";

.App {
	display: block;
	background-color: var(--dark-grey);
	width: 100%;
}

.containerContent {
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin-top: 88px;
	margin-left: 54px;
	margin-right: 54px;
	margin-bottom: 128px;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

  

body {
	font-family: Poppins;
	display: flex;
	justify-content: center;
}



h1 {
	text-align: center;
}

.counter-todos {
	margin: 40px 0;
	display: flex;
	justify-content: space-around;
}

.counter-todos h3 {
	font-weight: 500;
}

.counter-todos span {
	color: #f29559;
	font-weight: 700;
	font-size: 24px;
	margin-left: 10px;
}

ul {
	margin-top: 50px;
	display: flex;
	flex-direction: column;
	gap: 15px;
}

ul li {
	list-style: none;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 0px;
	font-size: 16px;
}

ul li span {
	overflow: hidden;
	cursor: pointer;
	display: flex;
	align-items: center;
}

ul li form {
	flex: 1;
	display: flex;
	justify-content: space-between;
	
}


form {
	margin-left: 16px;
	display: flex;
	gap: 0px;
	
}

.add-todo {

}

.add-todo h3 {
	text-align: center;
	margin-bottom: 40px;
	font-size: 24px;
}



.btn-add {
	border: none;
	background-color: var(--azul);
	color: #fff;
	padding: 5px 40px;
	border-radius: 20px;
	font-family: inherit;
	cursor: pointer;
	font-size: 17px;
}

.btn-add:hover {
	background-color: var(--azul-hover);
}