@import "../variables.modules";
.NavBar {
    display: flex;
    flex-direction: row;
    background-color: var(--very-dark-grey-transparent);
    justify-content: space-between;
    box-shadow: 0px 2px 16px #000000;
    position: fixed;
    width: 100%;
    z-index: 5;
    .NavMenu {
        display: flex;
        flex-direction: row;
        margin: 0px;
       .ItemMenu {
        margin-right: 12px;
        color: var(--lighter-grey);
        a {
            color: var(--lighter-grey);
            text-decoration: none;
        }
       }
    }
}

.Logo {
    font-size: 32px;
    font-weight: 900;
    color: var(--lighter-grey);
    margin: 4px 0px 0px 54px;
  }

.SecondPartLogo {
    color: var(--blue2);
}